:root {
    --border-color: #cacaca;
    --background-deep: #fafafa;
    --background-default: white;
    --background-hover: #efefef;
    --text-color: black;
}
html,
body {
    background-color: var(--background-deep);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.text-center {
    text-align: center;
}
.card {
    background-color: var(--background-default);
    max-width: 400px;
    margin: 32px auto;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
.card .card-header {
    border-bottom: 1px solid var(--border-color);
    font-weight: 600;
    padding: 8px 8px 4px;
}
.card .card-body {
    padding: 8px;
}
.list {
    padding: 8px 0;
}
.list-item {
    background-color: var(--background-default);
    display: block;
    padding: 8px;
}
a.list-item {
    color: var(--text-color);
    text-decoration: none;
}
a.list-item:hover {
    background-color: var(--background-hover);
}
.shadow {
    box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
}
